salesforce-to-database-sync/target/classes/salesforce-to-database-sync.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="76a60bc6-0533-4c33-aff1-62bc78348b2b" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Admin22" database="mule" />
	</db:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="159b038f-0378-4753-9971-f76c11a6bdc8" >
		<salesforce:basic-connection username="hussainibe22@gmail.com" password="Hussain22" securityToken="OCi03J35y59HtCxzPzRXwwJgp" />
	</salesforce:sfdc-config>
	<flow name="checkAndThenInsertIntoDatabaseFlow" doc:id="ea7a1a80-acc8-4dca-873e-cf034332b312" >
		<batch:job jobName="BatchJob" doc:id="167e5376-40c4-4b8a-9638-ef7e1bf3402a" maxFailedRecords="-1">
					<batch:process-records>
						<batch:step name="Step1" doc:id="edc649c7-4ad4-418c-b23e-18ffae33bf00">
							<db:select doc:name="Select" doc:id="c97f8403-3b0d-43a3-9107-84bd39ea54eb" target="accountNumbers" config-ref="Database_Config">
								<db:sql><![CDATA[select AccountNumber from accounts_sf where AccountNumber=:AN]]></db:sql>
								<db:input-parameters><![CDATA[#[{
	AN: payload.AccountNumber
}]]]></db:input-parameters>
							</db:select>
						</batch:step>
						<batch:step name="Step2" doc:id="ef9e4741-ae48-4fd4-b37f-a99b07f19c86" acceptExpression="#[sizeOf(vars.accountNumbers)==0]">
							<db:insert doc:name="Insert" doc:id="86506d74-b32c-4cb0-9a7f-7b9e60bb6fea" config-ref="Database_Config">
								<db:sql><![CDATA[insert into accounts_sf(AccountNumber,Name,Phone,Street,City,State,Country,Pincode,CreatedTime,UpdatedTime,MarkedForDeletion)
values(:AccountNumber,:Name,:Phone,:Street,:City,:State,:Country,:Pincode,(NOW()+0),(NOW()+0),:MarkedForDeletion)]]></db:sql>
								<db:input-parameters><![CDATA[#[output application/java
---
{
	AccountNumber: payload.AccountNumber,
	Name: payload.Name,
	Phone: payload.Phone,
	Street: payload.BillingStreet,
	City: payload.BillingCity,
	State: payload.BillingState,
	Country: payload.BillingCountry,
	Pincode: payload.BillingPostalCode,
	MarkedForDeletion: "no"
}]]]></db:input-parameters>
							</db:insert>
						</batch:step>
						<batch:step name="Step3" doc:id="57a67128-3c89-4f64-9435-5141f3a69b95" acceptPolicy="ONLY_FAILURES">
							<logger level="ERROR" doc:name="Logger" doc:id="256a9c8b-c776-4638-a721-401f39ff065c" message="#[payload]" />
						</batch:step>
					</batch:process-records>
					<batch:on-complete>
						<logger level="INFO" doc:name="Logger" doc:id="6e1e87b7-0b01-4bd7-a429-df5bc7467035" message="#[output application/json&#10;---&#10;payload]" />
					</batch:on-complete>
				</batch:job>
	</flow>
	<flow name="insertFlow" doc:id="e951a29c-1502-40a2-80b7-ac59090c01ef" >
		<scheduler doc:name="Scheduler" doc:id="38c0e3d2-87db-4fb3-a2b0-dce7e0bfe6d1" >
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="Retrieve" doc:id="156bcd00-30d4-472c-846c-8b2c99ed70bb" key="createdDate" target="createdDate">
			<os:default-value ><![CDATA[#[|1995-01-01T01:01:01|]]]></os:default-value>
		</os:retrieve>
		<salesforce:query doc:name="Query" doc:id="f15bf6b4-632f-4cc7-af14-b39e2c6b6877" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name,AccountNumber,Phone,BillingStreet,BillingCity,BillingState,BillingCountry,BillingPostalCode,CreatedDate
FROM Account WHERE CreatedDate > :CD]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	CD: vars.createdDate as DateTime
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="1c3c1707-2264-4c59-b1d2-2e5e8813ce17" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<os:store doc:name="Store" doc:id="dcae7721-5b56-4633-bad7-9e062e1d6d6f" key="createdDate">
					<os:value ><![CDATA[#[max(payload.CreatedDate)]]]></os:value>
				</os:store>
				<flow-ref doc:name="Flow Reference" doc:id="c1ab7ab9-a8a0-42fa-9bd1-b6228e1a74b7" name="checkAndThenInsertIntoDatabaseFlow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="94896e53-0e36-4e8b-991b-0dc7543d2f23" message="No new data, hence skipping this iteration"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="UpdateFlow" doc:id="292559f7-a710-4844-b589-11ab6957403a" >
		<scheduler doc:name="Scheduler" doc:id="f878ca58-de28-4e4f-8cc3-4d0a27084196" >
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="Retrieve" doc:id="5f20cec3-11cf-4005-8633-a8f2439fa6ef" key="lastModifiedDate" target="lastModifiedDate" >
			<os:default-value ><![CDATA[#[|1995-01-01T01:01:01|]]]></os:default-value>
		</os:retrieve>
		<salesforce:query doc:name="Query" doc:id="c0b47188-a173-4f13-998a-ca2b2df2bb6e" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name,AccountNumber,Phone,BillingStreet,BillingCity,BillingState,BillingCountry,BillingPostalCode,LastModifieddate
FROM Account WHERE LastModifiedDate > :LMD]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	LMD: vars.lastModifiedDate as DateTime
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="Choice" doc:id="4b596033-9899-4592-a29e-2ca557c9559d" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<os:store doc:name="Store" doc:id="ae059c94-88a0-4b84-9acf-cb7724c783e9" key="lastModifiedDate">
					<os:value ><![CDATA[#[max(payload.LastModifiedDate)]]]></os:value>
				</os:store>
				<batch:job jobName="BatchJob2" doc:id="9c6ff7ab-7f38-46b9-abca-97391c9013a8" maxFailedRecords="-1">
					<batch:process-records >
						<batch:step name="Step1" doc:id="cb36cc9a-2d7b-45fa-b2af-6d30653591fc" >
							<db:update doc:name="Update" doc:id="a1fa68ed-f104-4de8-9fe6-64ae0277d5f7" config-ref="Database_Config">
								<db:sql ><![CDATA[update accounts_sf set Name=:Name,Phone=:Phone,Street=:Street,City=:City,State=:State,Country=:Country,Pincode=:Pincode
where AccountNumber=:AccountNumber]]></db:sql>
								<db:input-parameters ><![CDATA[#[output application/java
---
{
	Name: payload.Name,
	AccountNumber: payload.AccountNumber,
	Phone: payload.Phone,
	Street: payload.BillingStreet,
	City: payload.BillingCity,
	State: payload.BillingState,
	Country: payload.BillingCountry,
	Pincode: payload.BillingPostalCode
}]]]></db:input-parameters>
							</db:update>
						</batch:step>
						<batch:step name="Step2" doc:id="81724469-0d4c-48e8-9643-0f312019aebb" acceptPolicy="ONLY_FAILURES">
							<logger level="ERROR" doc:name="Logger" doc:id="47e8e8fd-7085-4d3d-a952-bcf5c3f6873e" message="#[payload]"/>
						</batch:step>
					</batch:process-records>
					<batch:on-complete >
						<logger level="INFO" doc:name="Logger" doc:id="7326417f-5acf-4047-981c-2bd203936c46" message="#[output application/json&#10;---&#10;payload]"/>
					</batch:on-complete>
				</batch:job>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="e0fc940f-2c7e-4fb9-a790-824ab8c6363f" message="No more new data. Hence skipping"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="deleteFlow" doc:id="882448a8-d6e0-4911-9bb0-f90679814b74" >
		<salesforce:deleted-object-listener objectType="Account" doc:name="On Deleted Object" doc:id="04693c05-68f8-4e56-95f2-d839d69e6cf3" config-ref="Salesforce_Config">
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</salesforce:deleted-object-listener>
		<db:delete doc:name="Delete" doc:id="09fa4e82-e185-4277-9711-bea08ae380e8" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from accounts_sf where AccountNumber=:AN]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	AN: payload.AccountNumber
}]]]></db:input-parameters>
		</db:delete>
	</flow>
</mule>
